## 신용카드서비스를 떠나는 고객을 찾아라
- 나이, 급여, 결혼 상태, 신용 카드 한도, 신용 카드 카테고리 등의 컬럼이 있음
- 평가: ROC-AUC, 정확도(Accuracy), F1, 정밀도(Precision), 재현율(Recall)을 구하시오
- target : Attrition_Flag (1:이탈, 0:유지)
- csv파일 생성 : 수험번호.csv (예시 아래 참조)
~~~
CLIENTNUM,Attrition_Flag
788544108,0.633
719356008,0.123
712142733,0.355
~~~


### 평가(분류)
~~~
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# 정확도
print(accuracy_score(y_test, pred))

# 정밀도
print(precision_score(y_test, pred))

# 재현율 (민감도)
print(recall_score(y_test, pred))

# F1
print(f1_score(y_test , pred))

# roc-auc
print(roc_auc_score(y_test, pred_proba))
~~~

## 데이터 불러오기

In [ ]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/ceredit%20card/train.csv")
test =  pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/ceredit%20card/test.csv")
# train = pd.read_csv("train.csv")
# test =  pd.read_csv("test.csv")

In [ ]:
print(train.shape, test.shape)

(8101, 21) (2026, 20)

In [ ]:
train.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Attrition_Flag
0,778461408,38,M,1,High School,Married,$80K - $120K,Blue,23,4,...,2,22149.0,987,21162.0,1.633,2409,36,0.800,0.045,0
1,718263108,44,F,3,Unknown,Divorced,Less than $40K,Blue,32,3,...,2,1693.0,1457,236.0,0.919,2829,42,0.615,0.861,1
2,780384483,49,M,4,Unknown,Unknown,$80K - $120K,Blue,39,2,...,2,2886.0,925,1961.0,0.946,5481,58,0.758,0.321,1
3,719592483,43,F,5,Graduate,Single,Unknown,Blue,34,6,...,3,4607.0,2440,2167.0,0.646,4825,77,0.878,0.530,0
4,771453033,47,M,3,High School,Married,$60K - $80K,Blue,35,5,...,2,17343.0,1280,16063.0,1.314,3170,57,0.629,0.074,0

In [ ]:
test.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,788544108,43,F,2,High School,Single,Less than $40K,Blue,37,4,3,0,6611.0,1041,5570.0,0.744,4037,74,0.682,0.157
1,719356008,39,F,3,Graduate,Single,Less than $40K,Blue,36,4,3,4,1438.3,0,1438.3,1.022,4548,69,0.917,0.000
2,712142733,37,F,3,Post-Graduate,Married,Less than $40K,Blue,26,5,3,2,1910.0,1164,746.0,0.744,2028,39,1.053,0.609
3,789394833,47,M,2,Unknown,Divorced,$80K - $120K,Blue,37,1,2,2,21714.0,1969,19745.0,0.944,13270,104,0.625,0.091
4,742778358,44,M,1,Graduate,Single,$60K - $80K,Blue,37,3,1,4,16739.0,1229,15510.0,0.497,4014,69,0.568,0.073

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8101 entries, 0 to 8100
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 8101 non-null   int64
 1   Customer_Age              8101 non-null   int64
 2   Gender                    8101 non-null   object
 3   Dependent_count           8101 non-null   int64
 4   Education_Level           8101 non-null   object
 5   Marital_Status            8101 non-null   object
 6   Income_Category           8101 non-null   object
 7   Card_Category             8101 non-null   object
 8   Months_on_book            8101 non-null   int64
 9   Total_Relationship_Count  8101 non-null   int64
 10  Months_Inactive_12_mon    8101 non-null   int64
 11  Contacts_Count_12_mon     8101 non-null   int64
 12  Credit_Limit              8101 non-null   float64
 13  Total_Revolving_Bal       8101 non-null   int64
 14  Avg_Open_To_Buy           8101 non-null   float64
 15  Total_Amt_Chng_Q4_Q1      8101 non-null   float64
 16  Total_Trans_Amt           8101 non-null   int64
 17  Total_Trans_Ct            8101 non-null   int64
 18  Total_Ct_Chng_Q4_Q1       8101 non-null   float64
 19  Avg_Utilization_Ratio     8101 non-null   float64
 20  Attrition_Flag            8101 non-null   int64
dtypes: float64(5), int64(11), object(5)
memory usage: 1.3+ MB

In [ ]:
train['Attrition_Flag'].value_counts()

Attrition_Flag
0    6815
1    1286
Name: count, dtype: int64

In [ ]:
train.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
Attrition_Flag              0
dtype: int64

In [ ]:
test.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

## 데이터 전처리 & 피처엔지니어링

In [ ]:
cols = train.select_dtypes(include = "object").columns
cols
# #baseline (object 행 제거)
# train = train.drop(cols, axis=1)
# test = test.drop(cols, axis=1)

#label
from sklearn.preprocessing import LabelEncoder

for col in cols:
  le = LabelEncoder()
  train[col] = le.fit_transform(train[col])
  test[col] = le.transform(test[col])

# one-hot
# train = pd.get_dummies(train, columns=cols)
# test = pd.get_dummies(train, columns=cols)
# train.head()

In [ ]:
train = train.drop('CLIENTNUM', axis=1)
test_id = test.pop('CLIENTNUM')

In [ ]:
test.head(1)

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,43,0,2,3,2,4,0,37,4,3,0,6611.0,1041,5570.0,0.744,4037,74,0.682,0.157

In [ ]:
test_id

0       788544108
1       719356008
2       712142733
3       789394833
4       742778358
          ...
2021    787361583
2022    713474733
2023    708486033
2024    717683583
2025    712887633
Name: CLIENTNUM, Length: 2026, dtype: int64

## 검증 데이터 분리

In [ ]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train.drop('Attrition_Flag', axis=1), train['Attrition_Flag'], test_size=0.2, random_state=0)

In [ ]:
X_tr.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
6730,46,0,5,3,1,5,0,35,3,1,3,4163.0,0,4163.0,0.743,4763,76,0.854,0.000
8,35,1,4,2,2,2,0,22,3,3,3,8717.0,719,7998.0,0.556,2067,59,0.595,0.082
6919,39,0,2,3,2,4,0,36,4,3,3,1438.3,855,583.3,0.662,4890,53,0.893,0.594
7624,43,1,2,2,1,3,0,28,5,6,3,30357.0,1255,29102.0,0.788,4435,68,0.889,0.041
1891,40,0,3,6,1,4,0,28,2,3,3,1535.0,0,1535.0,0.544,1921,41,0.464,0.000

## 모델 & 평가

In [ ]:
#모델 불러오기
#학습
#예측
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state = 0)
model.fit(X_tr, y_tr)
pred = model.predict(X_val)

In [ ]:
pred

array([0, 0, 0, ..., 0, 0, 0])

## 예측 및 csv 제출

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# 정확도
print(accuracy_score(y_val, pred))

# 정밀도
print(precision_score(y_val, pred))

# 재현율 (민감도)
print(recall_score(y_val, pred))

# F1
print(f1_score(y_val , pred))

#baseline
# 0.9617520049352252
# 0.9147982062780269
# 0.8259109311740891
# 0.8680851063829788

#label
# 0.9629858112276373
# 0.9348837209302325
# 0.8137651821862348
# 0.8701298701298701

#one-hot
# 0.958667489204195
# 0.9205607476635514
# 0.7975708502024291
# 0.8546637744034707

0.9629858112276373
0.9348837209302325
0.8137651821862348
0.8701298701298701

In [ ]:
# roc-auc
pred = model.predict_proba(X_val)
print(roc_auc_score(y_val, pred[:,1]))
#baseline
# 0.9881886863615202
#label
# 0.9867551815379901
#one-hot
# 0.9870866703204096

0.9867551815379901

In [ ]:
pred = model.predict_proba(test)
pred

array([[0.99, 0.01],
       [0.99, 0.01],
       [0.95, 0.05],
       ...,
       [0.72, 0.28],
       [0.99, 0.01],
       [0.92, 0.08]])

In [ ]:
submit = pd.DataFrame({'CLIENTNUM':test_id, 'Attrition_Flag' : pred[:,1]})

In [ ]:
submit.to_csv('1.csv', index=False)

In [ ]:
pd.read_csv('1.csv')

      CLIENTNUM  Attrition_Flag
0     788544108            0.01
1     719356008            0.01
2     712142733            0.05
3     789394833            0.02
4     742778358            0.00
...         ...             ...
2021  787361583            0.03
2022  713474733            0.71
2023  708486033            0.28
2024  717683583            0.01
2025  712887633            0.08

[2026 rows x 2 columns]