# 모의문제
- data : members.csv

## 문제1
- f1컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고,
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀 값을 구하시오
- (단, 데이터 70% 지점은 정수형(int) 변환)

In [19]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

f1_median = df['f1'].median()
df['f1'] = df['f1'].fillna(f1_median)
df = df.dropna()
df = df[:int(len(df)*0.7)]
print(df['views'].quantile(.75) - df['views'].quantile(.25))

3261.0

## 문제2
- 주어진 데이터에서 결측치가 30% 이상인 컬럼을 A, 결측치가 30% 미만, 20% 이상인 컬럼을 B라고 가정하자.
- A에 해당하는 컬럼은 결측치가 있는 데이터(행)를 삭제하시오.
- B에 해당하는 컬럼은 결측치를 최빈값으로 대체하시오.
- 'f3'컬럼의 'gold' 값을 가진 데이터 수를 구하시오

In [26]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

df = df.dropna(subset = ['f1'])
f3_mode = df['f3'].mode()[0]

df['f3'] = df['f3'].fillna(f3_mode)

cond1 = df['f3'] == 'gold'
print(sum(cond1))

56

## 문제3
- views 컬럼에 결측치가 있는 데이터(행)을 삭제하고,
- f3 컬럼의 결측치는 0, silver는 1, gold는 2, vip는 3 으로 변환한 후 총 합을 정수형으로 출력하시오

In [44]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

df.dropna(subset=['views'])

import numpy as np
dict_list = {np.nan:0, 'silver':1, 'gold':2, 'vip':3}
df['f3'] = df['f3'].map(dict_list)
print(df['f3'].sum())

133

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [53]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

cols = df.select_dtypes(include='object').columns
df = df.drop(cols, axis=1)
df = df.fillna(0)

df = df.T
cond1 = df.sum() > 3000
print(sum(cond1))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [60]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

q3 = (df['views'].quantile(.75))
q1 = (df['views'].quantile(.25))
iqr = q3 - q1
cond1 = q1 - 1.5*iqr
cond2 = q3 + 1.5*iqr
cond3 = (df['views'] < cond1) | (df['views'] > cond2)
print(sum(cond3))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [64]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

r1 = df['age'].std()
cond1 = df['age'] <= 0
df = df[~cond1]

cond2 = df['age'] != round(df['age'])
df = df[~cond2]
r2 = df['age'].std()
print(round(r1+r2,2))

58.81

## 문제7
- index '2001' 데이터(행)에서 해당 행의 평균보다 큰 값의 개수를 A라 한다.
- index '2003' 데이터(행)에서 해당 행의 평균보다 작은 값의 개수를 B라 한다.
- A와 B를 더한 값을 구하여 답으로 제출하라.

In [76]:
import pandas as pd
import random
random.seed(2022)
df = pd.DataFrame()
for i in range(0, 5):
    list_box = []
    for k in range(0, 200):
        ran_num = random.randint(1,200)
        list_box.append(ran_num)
    df[i+2000] = list_box
df = df.T
df.to_csv("data.csv", index=True)

r1 = df.loc[2001].mean()
a1 = sum(df.loc[2001] > r1)
r2 = df.loc[2003].mean()
a2 = sum(df.loc[2003] < r2)
print(a1+a2)

202

## 문제8
- 결측 값을 가진 데이터는 바로 뒤에 있는 값으로 대체한 후 (바로 뒤가 결측값이라면 뒤에 있는 데이터 중 가장 가까운 값)
- city와 f2 컬럼 기준으로 그룹합을 계산한 뒤
- views가 세번째로 큰 city(도시) 이름은?

In [97]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

df = df.fillna(method='bfill')
df = df.groupby(['city','f2']).sum(numeric_only = True).reset_index()
df = df.sort_values('views', ascending = False)
print(df.iloc[2,0])

대구

/tmp/ipython-input-3056892321.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')

## 문제9
- 구독(subscribed) 월별로 데이터 개수를 구한 뒤
- 가장 작은 구독 수가 있는 월을 구하시오

In [104]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month
df = df.groupby('month').count()
df.sort_values('subscribed').index[0]

np.int32(11)